<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for OAuth1">
	<description>Sniffs for WordPress plugins, with minor modifications for OAuth1</description>

	<!-- Check for cross-version support for PHP 5.4 and higher. -->
	<config name="testVersion" value="5.4-"/>
	<rule ref="PHPCompatibilityWP">
		<include-pattern>*\.php$</include-pattern>
	</rule>

	<rule ref="WordPress-Core"/>
	<rule ref="WordPress-Docs"/>

  <rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="rest_oauth1"/>
				<element value="default"/>
				<element value=""/>
			</property>
		</properties>
	</rule>

	<rule ref="VariableAnalysis.CodeAnalysis.VariableAnalysis">
		<properties>
			<property name="allowUnusedParametersBeforeUsed" value="true"/>
		</properties>
		<exclude-pattern>theme/*.php</exclude-pattern>
		<exclude-pattern>lib/class-wp-rest-oauth1-ui.php</exclude-pattern>
	</rule>

	<rule ref="Squiz.Commenting.FileComment.Missing">
 		<exclude-pattern>*.php</exclude-pattern>
 		<exclude-pattern>lib/*</exclude-pattern>
 	</rule>

	<rule ref="Squiz.Commenting.FunctionComment.ParamCommentFullStop">
		<exclude-pattern>lib/*</exclude-pattern>
	</rule>

	<rule ref="Squiz.Commenting.InlineComment.InvalidEndChar">
    		<exclude-pattern>lib/*</exclude-pattern>
  </rule>

  <rule ref="WordPress.WP.I18n.MissingArgDomainDefault">
        <exclude-pattern>theme/oauth1-authorize.php</exclude-pattern>
        <exclude-pattern>lib/class-wp-rest-oauth1.php</exclude-pattern>
  </rule>

  <rule ref="WordPress.PHP.YodaConditions.NotYoda">
  		<exclude-pattern>*</exclude-pattern>
  </rule>

	<rule ref="PEAR.Functions.FunctionCallSignature">
		<properties>
			<property name="allowMultipleArguments" value="false"/>
		</properties>
	</rule>

	<arg value="ps"/>
	<arg name="extensions" value="php"/>

	<file>./bin</file>
	<file>./lib</file>
	<file>./packages</file>
  <exclude-pattern>lib/class-wp-rest-oauth1-cli.php</exclude-pattern>

	<!-- Exclude third party libraries -->
	<exclude-pattern>./vendor/*</exclude-pattern>

</ruleset>
